INFLUX_URL=https://us-east-1-1.aws.cloud2.influxdata.com
INFLUX_TOKEN=tu-token-aqui
INFLUX_ORG=tu-org-o-email
INFLUX_BUCKET=Telemetry

MQTT_HOST=tu-cluster.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USER=tu-usuario-mqtt
MQTT_PASS=tu-password-mqtt

TEAM_NAME=equipo-de-ejemplo
TRACK_LAT=43.734722
TRACK_LNG=7.420556