INFLUX_URL=https://us-east-1-1.aws.cloud2.influxdata.com
INFLUX_TOKEN=your-influxdb-cloud-token-here
INFLUX_ORG=your-org-here
INFLUX_BUCKET=Telemetry

HIVEMQ_HOST=your-cluster.s1.eu.hivemq.cloud
HIVEMQ_PORT=8883
HIVEMQ_USER=your-hivemq-user
HIVEMQ_PASSWORD=your-hivemq-password
